.black-bg {
  background-color: black;
  height: 100%;
}

.image {
  max-width: 40%;
  max-height:40%;
  object-fit: contain;
}

.previous-image {
  position: absolute;
  left: 10px;
}

.next-image {
  position: absolute;
  right: 10px;
}

/* #map {
  height: 100%;
  width: 100%;
} */
